nextflow.enable.dsl=2
params {
 
    output  = 'output'
    cpu = 2
    memory = 10.GB
    config_file = null
}

profiles {
  debug {
    dumpHashes             = true
    process.beforeScript   = 'echo $HOSTNAME'
    cleanup                = false
    nextflow.enable.configProcessNamesValidation = true
  }
}



docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'
fixOwnership            = true


env {
  PYTHONNOUSERSITE = 1

}




// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

cleanup = true


